extends layout

include includes/sharedHTMLfunctions

block content
  .container
    .page-header
      .row
        .col
          .card.panel__info--no-spasing.border-none
            .card-body
              h1= pageHeader.title
                small &nbsp; #{pageHeader.strapLine}
    .row
      .col
        .card.panel__info.border-none
          .card-body
            if error
              .row
                .col
                  if error.statusCode === 400
                    +outputAlert(error.statusCode, error.message, "alert-danger")
                  else
                    +outputAlert(error.statusCode, error.message, "alert-info")
            else
              .row
                .col-xs-12.col-sm-8
                  .row
                    each location in locations
                      .col-12.card.panel__list_item
                        .card-body
                          .row
                            .col
                              h4.card-title
                                a(href='/location/'+location._id) #{location.name}
                            .col
                              h5.text-right
                                span.badge.badge-pill.badge-dark.pull-right #{location.distance}
                          address.card-text.mb-0
                            p.mb-0 #{location.address}

                          if location.rating > 1
                            p
                              +outputRating(location.rating)
                          else
                            a.btn.btn-red.btn-xs.mb-3.mt-1(href="/location/" + location._id + "/review/new")
                              i.fas.fa-star
                              | &nbsp;Write a Review
                          p
                            +facilities(location.facilities)

                .col-xs-12.col-sm-4
                  .card.panel__info
                    .card-body
                      p.lead
                        | GrubTrucks helps you find places to work when out and about.
                        | Perhaps with coffee. cake or a pint ? Let GrubTrucks help you find the place you're looking for.

